@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
body {
    margin: 0 auto;
    font-family: "Work Sans";
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

.header_title {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

.header_menus {
    display: flex;
}

.menu {
    list-style: none;
    margin-right: 50px;
}

.menu a {
    text-decoration: none;
    color: black;
}

.second_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second_col_title {
    font-size: 48px;
}

@media screen and (max-width:676px) {
    .header {
        flex-direction: column;
        gap: 20px;
    }
    .header_menus {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .menu {
        background-color: rgb(85, 67, 67);
        color: white;
        text-align: center;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}