@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body{
    height: 100%;
    font-family: Work Sans;
}

.container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px 10%;
}

.header{
    display: flex;
    justify-content: space-between;
}
.header_title{
    font-size: 35px;
    font-weight: bold;
    color:#131313;
    line-height: 53px;
}
.header_menus{
    display: flex;
    gap:40px;
}
.menu{
    list-style: none;
}
.menu a {
    text-decoration: none;
}

.second_column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second_col_title{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.second_col_info{

    text-align: center;
    justify-content: center;
}

.btn-primary {
    padding: 10px 30px;
    background-color: orange;
    border-radius: 5px;
    border:none;
}

.second_col_img img{
width: 100%;
padding-top: 30px;
}

.third_column{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    
}

.img_container{
    grid-column: 1 / 3;
    grid-row: 1/2;
    /* display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-column: 1/2; */
}
.img_container>img{
    object-fit: scale-down;
}
.third_column_info{
    height: 100%;
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.fourth_column{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    
}
.fourth_col_info_container{
    grid-column: 1/1;
    display: flex;
    flex-direction: column;
}
.fourth_col_img img{
    width: 100%;
    object-fit: cover;
}
.card_container{
    padding: 15px;
 border: 1px solid;
 margin-bottom: 10px;
}
.card{
 box-shadow: 10px 5px 5px gray;

}
.card_text{
    
    font-size: small;
}