
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

 
body{
    margin: 0 auto;   
    font-family: "Work Sans";
  box-sizing:border-box;
}

.header{

    /* padding-top: 30px; */
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.header_title{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}
.header_menu >ul{
    display: flex;
    list-style-type:none;
    margin-right:50px;
    
}



@media screen and (max-width:676px) {
    .header{

        flex-direction: column;
        gap: 20px;
        
    }
    .header_menus{
display:flex;
        flex-direction: column;
       
        
        
    }
    .menu{
        background-color: black;
        color: white;
...... list-style-type:none;
......  width:100%;
    }
}
