@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


/* general styles */
body{
    height: 100%;
    font-family: Work Sans;  
}
.btn-primary {
    padding: 10px 30px;
    background-color: orange;
    border-radius: 5px;
    border:none;
    color: white;
    font-weight: bold;
}
.mini_text{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
}
.transparent_text{
    color: rgba(0, 0, 0, 0.4);

}
.left_ruler{
    border-left: 10px solid red;
}

/* container style */
.container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px 10%;
}
.header, .second_column, .sixth_column, .seven_column,.header_menus{
    display: flex;
} 
.third_column, .fourth_column,.sponsor_column{
    display: grid;
}
/* section styles */
.two_col_wrapper{
    width: 100%;
    padding: 20px 20px;
    background-color: #FFF4E7;
}
.header{
    justify-content: space-between;
}
.second_column{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.third_column{
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.fourth_column{
    grid-template-columns: repeat(2 , 1fr);
    gap:20px;   
}
.sixth_column{
    justify-content: center;
    gap: 20px;
    padding-top:50px ;
}
.seven_column{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 ;
}
.sponsor_column{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}
.footer{
    margin-top: 30px;
    height: 30px;
    background-color: #FFF4E7;
    padding: 20px 20px;
    text-align: center;
}


.header_title{
    font-size: 35px;
    font-weight: bold;
    color:#131313;
}
.header_menus{
    display: flex;
    gap:40px;
}
.menu{
    list-style: none;
}
.menu a {
    text-decoration: none;
}

/* second column styles */
.second_col_title{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.second_col_info{
    text-align: center;
    justify-content: center;
}
.second_col_img img{
width: 100%;
padding-top: 30px;
}

.img_container{
    grid-column: 1 / 3;
    grid-row: 1/2;
}
.img_container>img{
    object-fit: scale-down;
}

/* third column styles */
.third_column_info{
    height: 100%;
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.third_column_info h3{
    font-size: 45px;
}

/* fourth column styles */
.fourth_col_info_container{
    grid-column: 1/1;
    display: flex;
    flex-direction: column;
}
.fourth_col_img img{
    width: 100%;
    object-fit: cover;
}
.card_container{
    padding: 15px;
 border: 1px solid;
 margin-bottom: 10px;
}
.card{
 box-shadow: 10px 5px 5px gray;

}
.card_text{
    
    font-size: small;
}
.floating_btn button{
    margin-top: -100px;
    margin-left: 500px;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 35px;
}

/* fifth column  style */
.fifth_column > .title{
    display: flex;
    border-left: 10px solid orange;
    padding: 20px;
    font-size: 35px;
}
.fifth_column> p{
    text-align: left;
    font-size: 0.8em;
    margin-right: 50px;
}

/* six column style */
.sixth_column >img{
    margin-top: 10px;
    max-width: 48px;
    max-height: 46px;
}
.icon_cards{
    padding: 20px;
    width: 180px;
    height: 180px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: width 500ms, background-color,transform 1000ms;
    transition-timing-function: ease-in-out;
}

.sponsor>img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);width: 50%;

}

/* transition effects */

.icon_cards:hover{
    width: 100%;
    background-color: palegreen;
    text-transform: uppercase;
}

/* now the responsive part for mobile */

@media all and (max-width:576px) {
    body{
        width: 100%;
    }
    .two_col_wrapper{
        width: 100%;
        padding: 0;
    }
    .header, .third_column {
        display: flex;
        flex-direction: column;
    }
    .header_title{
        text-align: center;
        background-color: #131313;
        color: white;
    }
    .header_menus{
        flex-direction: column;
        padding: 0;
        
    }
    .menu{
        background-color: #a1b3e4;
        padding: 10px;
        text-align: center;

    }
    .menu a{
        color: white;
    }

    .third_column{
        gap:10px;
        
    } 
    .floating_btn{
        text-align: center;
    }
    .sixth_column{
        justify-content: center;
        align-items: center;
    }
    .seven_column h1{
        background-color: burlywood;
    }
    .third_column_info{
        grid-template-columns: 1;
        grid-template-rows: repeat(1,1fr);
    }
    .third_column_info h3{
        background-color: aquamarine;
        padding: 20px;
        text-align: center;
    }
    .img_container img{
        width: 100%;
        margin-top: 10px;
    } 
    .fourth_column{
        padding-top:20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .floating_btn >button{
        position: relative;
        margin: 20px;
        padding: 0;
    }
    .card_container{
        border: none;

    }
    .sixth_column{
        display: flex;
        flex-direction: column;
    }
    .sponsor_column{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1.5em;
    }
    .seven_column{
        margin: 0;
    }
    .footer{
        width: 100%;
        font-size: .8em;
        padding: 20px 0;
    }
    
}